<div class='row'>

    <%= render 'layouts/sidebar' %>

  <div style="flex:4;">
    <h2>投稿一覧</h2>
    <%= render 'admin/posts/index', posts: @posts %>
  </div>
  
    <%= render "layouts/sidebar_r" %>

</div>  