<div class="row">

  <%= render "user/posts/post_modal", post: @new_post %>
  <div class="col-2" style="position: sticky; top: 0; left: 0; height: 100vh; background-color: #D43EFF;">
    <%= render "layouts/sidebar" %>
  </div>
  
  <div class="col-7">
    <h2>フォローユーザー</h2>
    <% if @users.exists? %>
      <%= render "user/users/index", users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>

  <div class="col-3" style="position: sticky; top: 0; left: 0; height: 100vh;">
    <%= render "layouts/sidebar_r" %>
  </div>

</div>