@use '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 80%;
    }
}

.logo2 {
  margin: 20px 0 0 10px;
  width: 80%;
  height: 80%;
  aspect-ratio: 2860 / 707;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}

.sidebar-link {
  color: white;
}

a {
  color: #D43EFF;
}