<div class="row" style="margin-top: 120px" >

  <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "concept.png", size: "700x700" %>
  </div>
  
  <div style="width: 50%; display: flex; justify-content: center; ">
    <div style="width: 100%; margin-top: 43px;">
    <h2>KaLon（カロン）の概要</h2>
    <h3>ユーザーが美容に関する最新の情報をシェアし、<br>ユーザー同士が繋がれる美容特化SNSサービス</h3>
    <h3>サービス名の由来</h3>
    <h4>古典ギリシャ語で外見の美しさだけでなく、中身まで含めた美しいという意味を持っています。<br>容姿だけではなく、心から磨かれた人こそが真に美しいという意味を込めて命名しました。</h4>
    <h3>ロゴの意味</h3>
    <h4>ロゴのマークはKALONのKとLから成り立っています。また、色はギリシャの美しい街に咲き誇るブーゲンビリアの花の色です。<br>花言葉は「熱心」「あなたは素敵」です。素敵なあなたの個性を最大限に活かし、美容に対する熱い思いをたくさんの人に発信し、そして繋がり
    人生により一層の華を咲かせていただけたら幸いです。</h4>
    </div>
  </div>
  <div><%= link_to "前の画面に戻る", :back %></div>
</div>

<footer>
  <div style="text-align:center;">©2024 Shunya Yamada. All rights reserved</div>
</footer>