<div class="row" style="margin-top: 150px" >

  <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
    <%= image_tag "logo.png", size: "500x500" %>
  </div>
  
  <div style="width: 50%; display: flex; justify-content: center; ">
    <div style="width: 70%; margin-top: 43px;">
    <h1>美の最先端が、ここに。</h1>
    <div style="margin-top: 30px;">
      <h3>今すぐ参加しよう。<h3>
      <div><%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-info btn-block", method: :post %></div>
    　<div><%= link_to "アカウントの作成", new_user_registration_path, class: "btn btn-info btn-block" %></div>
    </div>
    <div style="margin-top: 20px;">
      <h4 style="display: flex; align-items: center;">
        <span style="flex-grow: 1; height: 1px; background-color: black; margin-right: 10px;"></span>
        アカウントをお持ちの場合
        <span style="flex-grow: 1; height: 1px; background-color: black; margin-left: 10px;"></span>
      </h4>
      <div><%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-block" %></div>
    </div>
    </div>
  </div>
</div>

<footer>
  <div style="text-align:center;">©2024 Shunya Yamada. All rights reserved</div>
</footer>