<div class="row">
  
    <%= render "layouts/sidebar" %>
  
  <div style="flex:4;">
    <h2>タグ検索結果</h2>
    <%= render 'admin/posts/index', posts: @posts %>
  </div>

    <%= render "layouts/sidebar_r" %>

</div>