<div class="row">

    <%= render 'layouts/sidebar' %>

  <div style="flex:4;">
    <div>
      <h2>ユーザー一覧</h2>
      <%= render 'admin/users/index', users: @users %>
    </div>
  </div>
  
    <%= render "layouts/sidebar_r" %>

</div>