<div class="row">

  <%= render 'layouts/sidebar' %>

  <div style="flex:4;">
    <%= render 'admin/users/info', user: @user %>
    <%= render 'admin/posts/index', posts: @posts %>
  </div>

  <%= render "layouts/sidebar_r" %>
</div>
