<div class="row">
  
  <%= render "user/posts/post_modal", post: @new_post %>
    <%= render "layouts/sidebar" %>

  <div class="col-7">
    <h2>タグ検索結果</h2>
    <%= render 'user/posts/index', posts: @posts %>
  </div>

    <%= render "layouts/sidebar_r" %>

</div>